#InitExtent{
    height: 24px;
    width: 24px;
    background-repeat:no-repeat;
    background-image: url("../images/24/20080527174349302.png");

}
#ZoomIn{
    height: 24px;
    width: 24px;
    background-repeat:no-repeat;
    background-image: url("../images/24/20080527174350901.png");

}
#ZoomOut{
    height: 24px;
    width: 24px;
    background-repeat:no-repeat;
    background-image: url("../images/24/20080527174351770.png");

}
#Length{
    height: 24px;
    width: 24px;
    background-repeat:no-repeat;
    background-image: url("../images/24/20080527174351771.png");

}